.container {
  border: 2px solid var(--color-primary);
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  position: relative;
  gap: 5px;
  cursor: pointer;
}
.icon {
  font-size: 22px;
  cursor: pointer;
}
.switcher {
  width: 30px;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease;
}
