.button {
  text-transform: uppercase;
  background-color: var(--color-primary);
  font-weight: bold;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: var(--border-rad);
  cursor: pointer;
  align-self: flex-end;
  margin: 20px;
}
