.buy {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.left,
.right,
.right_big,
.left_big {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.right_big,
.left_big {
  font-size: 30px;
}
.stock {
  color: var(--color-primary);
  font-size: 30px;
  margin-top: 20px;
}
.cart,
.buy_now {
  background-color: var(--color-primary);
  border: none;
  padding: 10px 0;
  width: 250px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 18px;
}
.cart:hover,
.buy_now:hover {
  background-color: #73ffb9;
}
.cart:active,
.buy_now:active {
  box-shadow: inset 0 0 5px 0px #0000005c;
}
.wish {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--color-primary);
  padding: 10px;
  margin-top: 40px;
  background: transparent;
  color: inherit;
  cursor: pointer;
}
