.footer {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgs {
  display: flex;
  gap: 10px;
}
.img {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}
.img:hover {
  opacity: 1;
}
.imgs :last-child {
  background-color: white;
  border-radius: 50%;
}
